.vs/
*.user
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.ipch
*.pdb
*.pch
*.obj
*.ilk
*.tlog
*.idb
*.log

Debug/
Release/
x64/
build/
bin/
obj/

proj.win32/.vs/
proj.win32/Debug.win32/
proj.win32/Release.win32/

cocos2d/cocos/2d/Debug.win32/
cocos2d/cocos/2d/Release.win32/

*.zip
